{% extends "_base.html" %}
{% load static %}

{% block title %}Main page{% endblock title %}

{% block main %}
	<div class="content">

			<h1>Новые фильмы</h1>

				<div class="films_block">

				<a href="#"><img src="{% static 'images/matrix.png' %}" alt=""></a>
				<a href="#"><img src="{% static 'images/max.png' %}" alt=""></a>
				<a href="/show"><img src="{% static 'images/inter.png' %}" alt=""></a>
				<a href="#"><img src="{% static 'images/cloud.png' %}" alt=""></a>

				</div>

			<h1>Новые сериалы</h1>
				<div class="films_block">

				<a href="#"><img src="{% static 'images/dead.png' %}" alt=""></a>
				<a href="#"><img src="{% static 'images/silicon.png' %}" alt=""></a>
				<a href="#"><img src="{% static 'images/breakingbad.png' %}" alt=""></a>
				<a href="#"><img src="{% static 'images/xfiles.png' %}" alt=""></a>

				</div>


		</div>

		<div class="posts">
				<hr>
				<h2><a href="#">Как снимали Инетерстеллар</a></h2>
				<div class="posts_content">
					<p>
						45 лет исполнилось Кристоферу Нолану — одному из самых успешных режиссеров нашего времени, чьи работы одинаково любимы как взыскательными критиками, так и простыми зрителями. Фильмом изначально занималась студия Paramount. Когда Кристофер Нолан занял место режиссера, студия Warner Bros., которая выпускала его последние фильмы, добилась участия в проекте.
					</p>
				</div>
					<p><a href="#">читать</a></p>
					<hr>
					<h2><a href="#">Актер Том Хенкс поделился впечатлением о фестивале</a></h2>

					<div class="posts_content">
						<p>
							16 февраля в Лондоне состоялась 67-я церемония вручения наград Британской киноакадемии. Леонардо ДиКаприо, Брэд Питт, Анджелина Джоли, Кейт Бланшетт, Хелен Миррен, Эми Адамс, Кристиан Бэйл, Альфонсо Куарон и другие гости и победители премии — в нашем репортаже.
						</p>
					</div>
					<p><a href="#">читать</a></p>

				</div>


		</div>

{% endblock main %}
